@import '../client/_basic.scss';

.experience-reservation{
  height: 100%;
  background: rgb(240, 239, 245);
  padding-top: count(25);
  color: #515151;
  box-sizing: border-box;
  overflow-y: auto;
  .reservation-date{
    height: count(286);
    background: #fff;
    box-sizing: border-box;
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: count(25) count(40) count(43);
    .reservation-date-title{
      height: count(32);
      line-height: count(32);
      text-align: center;
      font-size: count(28);
      margin-bottom: count(60);
    }
    .lesson-reservation{
      float: left;
    }
    .lesson-reservation-today{
      float: right;
      color: #edaf2c;
      font-size: count(36);
    }
    .reservation-date-content{
      height: count(120);
      width: 100%;
      text-align: justify;
      font-size: 0;
    }
    .reservation-date-group{
      display: inline-block;
      width: count(58);
      height: 100%;
      text-align: center;
      vertical-align: top;
      margin-left: count(44);
      font-size: count(36);
    }
    .reservation-date-group:first-child{
      margin: 0;
    }
    .reservation-date-weekend{
      display: inline-block;
      width: 100%;
      height: count(35);
      margin-bottom: count(27);
      line-height: count(35);
    }
    .reservation-date-number{
      display: inline-block;
      height: count(58);
      width: 100%;
      line-height: count(58);
      color: #515151;
    }
    .reservation-date-active{
      .reservation-date-number{
        background: #edaf2c;
        border-radius: count(58);
        color: #fff;
      }
    }
    .date-range-out{
      color: rgb(153, 153, 153);
      .reservation-date-number{
        color: rgb(153, 153, 153);
      }
    }
  }
  .reservation-lesson{
    padding: 0 count(30);
    box-sizing: border-box;
    margin-top: count(21);
    .reservation-lesson-coach{
      height: count(90);
      width: 100%;
      line-height: count(90);
      font-size: count(36);
      vertical-align: middle;
      .coach-picture{
        height: count(62);
        width: count(62);
        overflow: hidden;
        position: relative;
        top: count(14);
        margin: 0 count(10);
      }
    }
    .reservation-time-table{
      background: #fff;
      height: count(500);
      width: 100%;
      font-size: count(28);
      box-sizing: border-box;
      border-bottom: 15px solid rgb(204, 204, 204);
      tr,td{
        text-align: center;
      }
      .table-time{
        display: inline-block;
        width: count(174);
        height: count(50);
        box-sizing: border-box;
        line-height: count(50);
        text-align: center;
      }
      .table-time-choose{
        color: #fff;
        background: rgb(248, 105, 0);
      }
      .table-time-reserved{
        color: #fff;
        background: rgb(87, 85, 86);
      }
    }
  }
  .reservation-client-info{
    margin-top: count(20);
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    div{
      height: count(86);
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;
      line-height: count(86);
      padding: 0 count(33);
      font-size: count(28);
      color: #333;
      position: relative;
    }
    div:last-child{
      border: none;
    }
    input{
      outline: none;
      position: absolute;
      height: count(80);
      top: count(50% - count(40));
      right: count(33);
      border: none;
    }
    .input-name{
      width: count(114);
    }
    .input-telephone{
      width: count(167);
    }
    .source-select{
      position: absolute;
      height: count(80);
      top: count(50% - count(40));
      right: count(33);
      border:none;
      color: #666;
    }
  }
  .reservation-submit{
    margin-top: count(92);
    margin-bottom: count(95);
    box-sizing: border-box;
    padding: 0 count(35);
    .submit-btn{
      display: inline-block;
      width: 100%;
      height: count(80);
      background: #edaf2c;
      color: #fff;
      line-height: count(80);
      text-align: center;
      border-radius: count(5);
      font-size: count(30);
      font-weight: 600;
    }
  }
}
