@import '_basic.scss';
.evaluate-bodys{
	width: 100%;
	height: 100%;
	box-sizing:border-box;
	margin: 0px;
	padding: count(30) count(30) 0 count(30);
	color:rgb(51,51,51);
	background:#f0eff5;

}
.evaluate{
	background: #ffffff;
	border-radius: count(5);
	width: 100%;
	box-sizing:border-box;
	border-radius: count(15);
	box-shadow: count(2) count(5) count(10)  #d1ced4;
	.coaching-information{
		display: flex;
		img{
			height: count(99);
			width:count(99);
			margin-left: count(20);
			margin-top: count(40);

		}
		.content-coach{
			margin-top: count(48);
			.names{
				span:nth-child(1){
					font-size: count(32);
					margin-left:count(32);
				}
				span:nth-child(2){
					font-size: count(26);
					color: #666666;
				}
				.icon-mm{
					margin-left:count(35);
					color: #edaf2c;
					font-size: count(25);
				}
				span:nth-child(4){
					margin-left:count(10);
					font-size: count(20);
					color: #666666;
				}
			}
			.lessons{
				span:nth-child(1){
					font-size: count(32);
					margin-left:count(32);
				}
				span:nth-child(2){
					font-size: count(26);
					color: #666666;
				}
				
			}
		}

	}
	.course-completed{
			text-align: center;
			margin-top: count(71);
			font-size: count(28);
			color: #f8ac00;

	}
	.life{
		margin-top: count(32);
		font-size: count(24);
		color: #666666;
		text-align: center;
	}
	.come-on{
		margin-top: count(20);
		font-size: count(24);
		color: #666666;
		text-align: center;
	}
	.icon-img{
		margin-top: count(56);
		text-align: center;
		span{
			font-size: count(60);
			color:#e2e2e2;
		}
	}
	.quick-evaluation{
		text-align: center;
		margin-top: count(24);
		color: #f86900;
	}
	.message-board{
		text-align: center;
		box-sizing:border-box;
			textarea{
			box-sizing:border-box;
			width: count(651);
			height: count(160);
			margin-top:count(89);
			background: #e2e2e2;
			border:none;
			resize:none;
			padding: count(21) count(13);
			margin-bottom: count(75);

		}
	}


}
.submit-evaluate{
		margin-top: count(83);
		width: 100%;
		line-height: count(79);
		color:#ffffff;
		background: #edaf2c;
		text-align: center;
		border-radius: count(10);

}
.active{
	color: #edaf2c !important;
}